<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Alexander's Darknode portal</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.css" />

    <style scoped>
        .select select {
            text-rendering: auto !important;
        }
    </style>
</head>

<body>
    <div id="app">
        <section class="section">
            <div class="container">
                <h1 class="title" v-if="selectedAccount">
                    Welcome {{ selectedAccount }}.
                </h1>
                <h1 class="title" v-else>
                    <button @click="setProvider()" class="is-large button" id="connect">Connect wallet</button>
                </h1>
                <div v-if="allDarknodes">
                    <h2 v-if="loadingDarknodes">
                    <span class="icon" v-if="loadingDarknodes">
                        <i class="fas fa-money-bill-wave fa-pulse"></i>
                    </span>
                    {{getSearchPercentage()}}% of {{allDarknodes.length}} Darknodes indexed.
                    </h2>
                    <h2 v-if="privateDarknodes">
                        You have {{privateDarknodes.length}} Darknodes: {{"[" + String(privateDarknodes).replace('"', "").replace(",", ", ") + "]"}}
                    </h2>
                    <br>
                    <h2 v-if="privateDarknodes">They have earned {{roundValue(fees/10**8)}} renBTC and {{roundValue(pendingRewardPool*privateDarknodes.length/allDarknodes.length/10**8)}} renBTC pending</h2>
                    <br>
                    <button v-if="privateDarknodes" class="button is-small" @click="writeFeeWithdrawal()">Withdraw renBTC from above Darknodes</button>
                    <br>
                    <br>
                    <div class="columns">
                        <div class="column">
                            <div class="columns is-multiline">
                                <div style="min-width: 240px;" class="column" v-for="dn in privateDarknodes">
                                    <div class="card">
                                        <!-- <header class="card-header">
                                            <p class="card-header-title">
                                                {{easyShowEthereumAddress(dn)}} 
                                                <div class="card-header-icon">
                                                    <button class="button is-small is-white">
                                                        <span class="icon" @click="toClipBoard(dn)">
                                                            <i class="fas fa-clipboard"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                            </p>
                                        </header> -->
                                        <div class="card-content">
                                            <div class="media">
                                                <div class="media-left">
                                                    <svg :data-jdenticon-value="dn.substring(0,20)" width="48" height="48">
                                                        Jdenticon
                                                    </svg>
                                                </div>
                                                <div class="media-content">
                                                  <p class="title is-4">{{easyShowEthereumAddress(dn)}}</p>
                                                  <!-- <p class="subtitle is-6">@johnsmith</p> -->
                                                </div>
                                              </div>
                                            <div class="content">
                                                Operator: {{easyShowEthereumAddress(darknodesInformation[dn].operator)}}
                                                <br>
                                                Claimed Fees: {{roundValue(darknodesInformation[dn].fee)}}
                                                <br>
                                                Pending Fees: {{roundValue(pendingRewardPool/allDarknodes.length/10**8)}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-narrow">
                            <button @click="sortOperators()">Sort table</button>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            Operator
                                        </th>
                                        <th>
                                            Number of Darknodes
                                        </th>
                                    </tr>
                                </thead>
                                <tbody v-if="operators">
                                    <tr v-for="op in operators">
                                        <td>
                                            {{easyShowEthereumAddress(op)}}
                                            <button class="button is-small is-white">
                                                <span class="icon" @click="toClipBoard(op)">
                                                    <i class="far fa-clipboard"></i>
                                                </span>
                                            </button>
                                        </td>
                                        <td>
                                            {{operatorInformation[op].length}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/jdenticon@3.0.1" async>
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/web3@1.2.11/dist/web3.min.js"></script>

    <script src="/DarknodeWithdrawMultiple/abi.js"></script>
    <script src="/DarknodeWithdrawMultiple/dn.js"></script>
</body>

</html>